<%= month_calendar events: stocks do |date, stocks| %>
  <%= date.day %>
  <% stocks.each do |stock| %>
    <div style="font-size:12px;">
      <%= link_to stock_path(stock.id) do %>
        <%= stock.food.name %>
      <% end %>
    </div>
  <% end %>
<% end %>