<div class="container pb-5">
  <div class="row">
    <font size="5">
      まだ食べられるものを、<br>食べられるうちに使い切ろう。<br>
      Check Stockは、各家庭の食材のストックを<br>適正に保つお手伝いをします！
    </font>
  </div>
  <div class="row">
    <h3 class="mt-3"><strong>使い方</strong></h3>
  </div>
  <div class="row">
    <p>まずは、<%= link_to "食材一覧", foods_path %>から食材を追加しましょう！<br>
      名前とカテゴリを入力して登録します。<br>
      その後、<%= link_to "ストック", stocks_path %>に追加することで<br>
      家にある食材として登録することができます。<br>
      先にある程度食材を追加しておくと<br>
      便利に使えるようになります！<br>
      </p>
  </div>
  <div class="row">
    <h3 class="mt-3"><strong>活用シーン</strong></h3>
  </div>
  <div class="row">
    <p>
      期限の近い食材から調理したい！→期限リマインド<br>
      冷蔵庫の中を確認せずに買い物に来ちゃった！→ストック一覧<br>
      買い物メモを書いたけど、ほかに買い足すものはあったかな？→お買い物リスト<br>
      家に残っている食材から今日の献立を考えたいな・・・→ストック一覧<br>
      そんな時はCheck Stockの出番です！<br>
      </p>
  </div>


</div>
