<div class="container pb-5">
  <div class="row">
    <h3 class="col-4">食材の詳細</h3>
    <span class="col-1 offset-2">
      <%= render "edit_btn", food: @food %>
    </span>
    <span class="col-3"><%= link_to "一覧へ戻る", foods_path, class:"btn btn-sm btn-outline-secondary" %></span>
    <span>
      <%#= link_to food_path,method: :delete, class:"btn btn-sm btn-outline-secondary", data:{confirm: "#{food.name}を削除しますか？"} do %>
        <!--<i class="fas fa-trash-alt"></i>-->
      <%# end %>
      <%#= link_to "削除",food_path(@food.id),method: :delete, class:"btn btn-sm btn-outline-secondary", data:{confirm: "#{food.name}を削除しますか？"} %>
    </span>
  </div>
  <table class="mt-3">
    <tr>
      <th class="col-1">食材名</th>
      <td class="col-3"><%= @food.name %></td>

    </tr>
    <tr>
      <th class="col-1">カテゴリ</th>
      <td class="col-3"><%= @food.category.name %></td>
    </tr>
  </table>
</div>
