<footer class="text-center pt-3 pb-1 fixed-bottom" style="background-color:#F7C682;">
  <div class="container">
    <div class="row no-gutters">
      <div class="col">
        <p style="color:#FFF;">使える食材を見直してフードロスを削減しよう!</p>
      </div>
    </div>
  </div>
</footer>